* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}
html {
  font-size: 80.5%;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  
}



h6 {
    color: white;
 padding-top: 50px;
 
  
}
section {
    padding: 8rem 0 ;
   
    text-align: center;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}
    .btn:link,
    .btn.visited,
    .btn
    {
        /* background: white; */
        border-bottom: 0.5px solid white;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 60px;
        border-radius: 3px;
        display: inline-block;
        margin-top: 70px;
       


    }

header {
    height: 110vh;
    position: relative;
    background-repeat: no-repeat;
    background: url(../images/greenstone-bg.jpg);
background-size: 100%;
background-position: center center;
}


.hero-text-box {
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);   
 text-align: center;
}
 .btn-hero:link,
 .btn-hero:visited{
     /* background:  white; */
     border-color: white;
     color: white;
 }

section {
  padding:  8rem 0;
}


/* contact-section */

.contact-section {

  text-align: center;

  


}


.contact-section .little-description{
  color: white;
  flex-direction: column;
  margin: 30px;
}




.contact-section form{
  margin-top: 5rem;
  width: 70%;
  margin-left: 25%;


}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input [type="tel"],
.contact-section textarea
{
  background:  #2061A6;
  /* border: 0.1rem solid #273a71; */
  border: none;
  width: 100%;
  font-size: 40rem;
  padding: 1.5rem;
  font-family: 'Courier New', Courier, monospace;

  /* border-radius: .5rem; */
  border-bottom: 1px solid white;
  font-size: 1.2rem;
  

color: white;
margin: .5rem 0;

}
.contact-section form ::placeholder{
color: white;
opacity: 1;

}



/* .contact-section .btn-primary{
  color: white;
  float: right;
  margin: 3rem;
  padding: 3rem;
  border: 1px solid ;
} */


.contact-section .btn-primary
    {
      
        /* background: white; */
        border: 0.1px solid white;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 60px;
        border-radius: 3px;
        display: inline-block;
        margin-top: 50px;
      
margin-left: 50rem;

    }





.contact-section .address{
  color: white;
  font-size: 1.2rem;
  float: left;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 25rem;
}

.contact-section .address2{
  color: white;
  font-size: 1.2rem;
  float: left;
  margin-left: 10rem;
  
}